extends layout

include mixins/_reviewForm
include mixins/_review
include mixins/_reservations

block content
    .container
        .mb-3.card
            img.card-img-top(src=`/uploads/${store.photo || 'store.png'}`)
            .card-body
                h5.fs-0 #{store.name}
                p.mb-0= store.address

        .no-gutters.row.mb-3
            .pr-lg-2.col-lg-12
                .card
                    .card-body
                        p=store.description
                        if store.tags
                            each tag in store.tags
                                a.badge.bg-light.text-primary(href=`/tags/${tag}`) ##{tag}

        // SECCIÓ DE RESERVES
        if user
        .no-gutters.row.mb-3
            .pr-lg-2.col-lg-12.d-flex.justify-content-center
                .card.card-body
                    h5 Reserve
                    form(method="POST", action="/reservations/add" class="reservation-form" style="margin-left: 30%;")
                        input(type="hidden", name="restaurantId", value=store._id)
                        label(for="date") Select a date:
                        input(type="date", name="date", required, min=new Date().toISOString().split('T')[0])
                        p.error-message Please, select a date.

                        label(for="timeSlot") Select a time slot:
                        select(name="timeSlot", required)
                            option(value="" disabled selected) Select a time slot
                            each slot in store.timeSlots
                                option(value=slot) #{slot}
                        p.error-message Please, select a time slot.

                        button(type="submit" class="btn btn-primary mt-2") Reserve

        +reservations(reservations, false)

        #map.sm-map.mb-3 

        if user
            .no-gutters.row
                .pt-3.lg-2.col-lg-12
                    .card
                        .card-body
                            +reviewForm(store)
        if store.reviews
            each r in store.reviews
                .no-gutters.row
                    .pt-3.lg-2.col-lg-12
                        .card
                        .card-body
                            +review(r)

    script.
        const store = !{JSON.stringify(store)};
        const rating = !{rating.toFixed(1)};

    script(type="module" src="/js/storeMap.js")