extends layout

include mixins/_reviewForm
include mixins/_review

block content
    .container
        .mb-3.card
            img.card-img-top(src=`/uploads/${store.photo || 'store.png'}`)
            .card-body
                h5.fs-0 #{store.name}
                p.mb-0= store.address

        .no-gutters.row.mb-3
            .pr-lg-2.col-lg-12
                .card
                    .card-body
                        p=store.description
                        if store.tags
                            each tag in store.tags
                                a.badge.bg-light.text-primary(href=`/tags/${tag}`) ##{tag}

        #map.sm-map.mb-3 

        if user
            .no-gutters.row
                .pt-3.lg-2.col-lg-12
                    .card
                        .card-body
                            +reviewForm(store)
        if store.reviews
            each r in store.reviews
                .no-gutters.row
                    .pt-3.lg-2.col-lg-12
                        .card
                        .card-body
                            +review(r)

    script.
        const store = !{JSON.stringify(store)};
        const rating = !{rating.toFixed(1)};

    script(type="module" src="/js/storeMap.js")